@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @{ 

            Html.RenderPartial("~/Views/Home/_PartialPage1.cshtml");
        }
    </div>
</body>
</html>
